---
---
$primary-color: #f5f5f5; // Overrides the theme's primary color
$background-color: #363131; // Custom background color
$font-family: "Times New Roman, serif"; // Custom font

@import "{{ site.theme }}"; // Import the default theme styles

// Custom styles for your site
body {
  background-color: $background-color; // Apply custom background color
  font-family: $font-family; // Apply custom font
  color: $primary-color; // set default text color
  font-size: 16px; // Replace with desired size
}

a {
  color: #ffffff; // Change link color to custom primary color
  text-decoration: underline; // Remove underline from links
  //font-size: 14px; // Replace with desired size
}

h1, h2, h3, h4, h5, h6 {
  color: $primary-color; // Apply custom primary color to headings
  //font-size: 24px; // Replace with desired size
}

nav {
  background-color: $primary-color; // Change navbar background color
  color: #ffffff; // Set navbar text color to white
  padding: 10px; // Add padding to navbar
}
